[submodule "entropy"]
	path = entropy
	url = https://github.com/subvind/entropy
	branch = master
[submodule "API"]
	path = API
	url = https://github.com/subvind/API
	branch = main
[submodule "CommandERP"]
	path = CommandERP
	url = https://github.com/subvind/CommandERP
	branch = main
[submodule "DisplayERP"]
	path = DisplayERP
	url = https://github.com/subvind/DisplayERP
	branch = main
[submodule "inam"]
	path = inam
	url = https://github.com/subvind/inam
	branch = main
[submodule "flowtube"]
	path = flowtube
	url = https://github.com/subvind/flowtube
	branch = main
[submodule "DisplayDesk"]
	path = DisplayDesk
	url = git@github.com:subvind/DisplayDesk.git
[submodule "CommandDesk"]
	path = CommandDesk
	url = git@github.com:subvind/CommandDesk.git
[submodule "copyright"]
	path = copyright
	url = git@github.com:subvind/copyright.git
